Restaurant CS.json
{
  "name": "Restaurant CS",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        0
      ],
      "id": "abff26b0-0fa1-4128-836c-b5b987a34e98",
      "name": "Telegram Trigger",
      "webhookId": "71623a91-f11e-42cf-9e47-bd44c2a56882",
      "credentials": {
        "telegramApi": {
          "id": "UyKD5Mb3BD0KH1Sv",
          "name": "Restaurant_CS"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=###ROLE\n** You are my restaurant customer support manager. Your role is to route user message to one of your employees.\n\n###EMPLOYEES\n** Questions Expert: If the user has any questions about our menu or the restaurant\n** Orders Expert: If the user wants to make or cancel an order. If the user provides his information. If the user has any question about his order. If the user has chosen a specific order or items. If the user provides the order ID.\n** Generalist: If the user sent a general message (e.g. Hi, Good morning)\n###OUTPUT EXAMPLE\nJSON\n\n{\n\"employee\": \"Questions Expert\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "057bfed9-e08f-4e2f-a2ed-2627dbb2cf2a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"state\": {\n\t\t\t\"type\": \"string\",\n          \"description\": \"The classification of the user's message into one of three specific states: 'Generalist' for greetings or non-business questions, 'Orders Expert' for issues or questions regarding a specific order or delivery, and 'Questions Expert' for questions about food items, prices, or booking a table. Return only the state name.\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        192
      ],
      "id": "d30bcc04-312d-4a8f-9c96-045c626bf61b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.state }}",
                    "rightValue": "Questions Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3c54afba-7484-4169-953f-c915e8da05f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Questions Expert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "24e4ec72-ffa6-43e0-8ed3-e37985ea8ccb",
                    "leftValue": "={{ $json.output.state }}",
                    "rightValue": "Orders Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orders Expert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "72e5ec27-d309-4f11-b766-dccf0d19efd2",
                    "leftValue": "={{ $json.output.state }}",
                    "rightValue": "Generalist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generalist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        -16
      ],
      "id": "33a7cb08-d76d-4243-8d36-6d42f1b26b61",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7912561e-c38d-4bf4-8701-1346b8fa419a",
              "name": "System prompt",
              "value": "=### ROLE\nYou are the \"Questions Expert\" for The Urban Grill. Your primary job is to provide accurate information by always checking your sources.\n\n### TOOLS\n** restaurant_knowledge_base: This is your ONLY source of truth for restaurant hours, location, and menu details.\n\n### INSTRUCTIONS\n1. Always Use restaurant_knowledge_base tool: For any question regarding \"When do you open?\", \"Where are you?\", or \"What's on the menu?\", you MUST call the restaurant_knowledge_base tool first.\n2. Accuracy: Do not guess opening hours or locations. If the tool does not provide an answer, say: \"I'm sorry, I don't have that specific information right now.\"\n3. Tone: Be helpful and professional in English.\n4. Specific Task: If a user asks about timing, search for \"Opening Hours\" or \"Operating Hours\" in the knowledge base and provide the full schedule.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -160
      ],
      "id": "d0d8168f-3111-483a-99f4-d81fb6668151",
      "name": "Questions Expert"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89b800d4-b391-423a-b414-eccec5d33cf1",
              "name": "System prompt",
              "value": "=### ROLE\n** You are responsible for orders management in our restaurant. Making an order, Cancelling an order, replying to inqueries about an order.\n\n### TOOLS\n** orders_sheet_read_tool: you use it to reply to users asking about their orders\n** code_tool: use it to generate a unique ID of 4 numbers before using orders_sheet_write_tool\n** orders_sheet_write_tool: you use it to add an order to the sheet.\n** order_sheet_cancel_tool: you use it to cancel an order\n** restaurant_knowledge_base: Find here our information related to the restaurant and menu\n\n### INSTRUCTIONS\n** Ask the user about all needed data, Name, Phone Number, Address, Order. MAKE SURE to collect all needed data\n** Confirm order data before using adding it to the sheet or cancelling it\n** If a user wants to cancel an order, make sure to take the order ID whether from conversation history or ask the user.\n** If you can't find an order for a certain ID, tell them that their order wasn't taken successfully, please tell me your order again\n** Always generate a unique ID using code_tool before saving the order.\n** After saving an order, Always send order ID in your message",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "f00eaf0b-560c-4b4e-b715-30703422870e",
      "name": "Orders Expert"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89b800d4-b391-423a-b414-eccec5d33cf1",
              "name": "System prompt",
              "value": "=Role: Restaurant customer support manager.\n\nEmployee - Generalist: Handles users who send general messages, such as \"Hi\" or \"Good morning\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        176
      ],
      "id": "f1b9c7ac-140f-4152-bc3e-9b1eea186ff2",
      "name": "Generalist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "={{ $json['System prompt'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        16
      ],
      "id": "3cf53e02-ad02-4e17-a871-0676b2d9a9b6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        352
      ],
      "id": "3eba463d-a9dc-4c8f-9f54-c0b3d06f56ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE",
          "mode": "list",
          "cachedResultName": "Restaurant_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order ID",
              "lookupValue": "={{ $fromAI(\"Order_ID\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1760,
        400
      ],
      "id": "7cf0bc93-fb6d-4b44-ad0c-16369a408455",
      "name": "orders_sheet_read_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KHMDvUIblHUbcGPp",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate a unique 4-digit order ID without imports\nconst orderId = (Math.floor(1000 + Math.random() * 9000)).toString();\nreturn orderId;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1280,
        272
      ],
      "id": "a899ab30-e350-452a-b41b-fc1c3d877493",
      "name": "code_tool"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE",
          "mode": "list",
          "cachedResultName": "Restaurant_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Item": "={{ $fromAI(\"Item\") }}",
            "Price": "={{ $fromAI(\"Price\") }}",
            "Order ID": "={{ $fromAI(\"Order_ID\") }}",
            "Name": "={{ $fromAI(\"Name\") }}",
            "Phone Number": "={{ $fromAI(\"Phone_Number\") }}",
            "Address": "={{ $fromAI(\"Address\") }}",
            "Status": "In Kitchen"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1936,
        320
      ],
      "id": "a8b8a121-70a7-41dc-a94d-b7a65cd17250",
      "name": "orders_sheet_write_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KHMDvUIblHUbcGPp",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE",
          "mode": "list",
          "cachedResultName": "Restaurant_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJOxHfC47h5qTfLanQgtTSpyL05QzcBHGLawqfVYzgE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ $fromAI(\"Order_ID\") }}",
            "Status": "Cancelled"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1616,
        368
      ],
      "id": "a9c640b6-9854-4724-b5da-5bca0d1e2e12",
      "name": "order_sheet_cancel_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KHMDvUIblHUbcGPp",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        16
      ],
      "id": "24c39b20-b95f-4332-b5f7-0ea92a8c02b9",
      "name": "Send a text message",
      "webhookId": "09528fe5-ce5f-4fc6-8085-e51ebfcde7af",
      "credentials": {
        "telegramApi": {
          "id": "UyKD5Mb3BD0KH1Sv",
          "name": "Restaurant_CS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        288
      ],
      "id": "66de9a78-f854-4db9-9b40-992610581487",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BGi5krWHqoUTpHd5",
          "name": "Gemini_API"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find ALL restaurant information, including opening hours, location, menu items, and prices. ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1344,
        368
      ],
      "id": "335ee483-c935-4987-9978-d66aae752380",
      "name": "restaurant_knowledge_base",
      "credentials": {
        "supabaseApi": {
          "id": "H1iaTQ9VG2yW4tVY",
          "name": "courses_uploader"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        560
      ],
      "id": "64252b68-026f-44b6-aa25-660be787585e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BGi5krWHqoUTpHd5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        400
      ],
      "id": "ee1dbcd3-3a5d-45d1-8ae8-1f749563b805",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BGi5krWHqoUTpHd5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Questions Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orders Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generalist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Questions Expert": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders Expert": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generalist": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_read_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "code_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_write_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_sheet_cancel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "restaurant_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "restaurant_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "02274d73-ddd1-4d74-9513-b85426666d7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d18265c22130b13ab0d8b8488a32911b7eec52e0ebdcb33eb1bced1ad4cd5487"
  },
  "id": "UVjY4Ve3PKaXQiFD",
  "tags": []
}
